*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hederLogin{
    /* Layout Properties */
height: 21px;

/* UI Properties */

text-align: center;
font: Proxima Nova; 
font-size:  17px;
font-weight: bold;
letter-spacing: 0px;
color: #B30733;
text-transform: uppercase;
opacity: 1;
/*border: 1px red solid;*/
}

.lineOrange{
    /* Layout Properties */
margin: auto;
width: 50px;
height: 4px;

/* UI Properties */

background: #EF4C00 0% 0% no-repeat padding-box;
border-radius: 3px;
opacity: 1;
}

.lineGray{
    /* Layout Properties */
margin-top: 10px;
width: 440px;
height: 2px;

/* UI Properties */

border: 1px solid #2E4765;
opacity: 0.2;
}